@model IEnumerable<RePOS.Models.Item>

@{
    Layout = "_Layout";
    ViewData["Title"] = "RePOS - Menu Items";
    ViewData["PageName"] = "Items";
}

@section HeaderRight {
    <div class="float-right">
        <div class="btn-group mr-1 mb-2">
            <a class="btn btn-success btn-sm" href="@Url.Action("Create", "Item")"> Add Item </a>
        </div>
    </div>

}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <!-- Makes table scrollable on small screens -->
                <table class="table table-bordered text-nowrap">
                    <thead class="table-dark text-center">
                        <!-- Dark header for better visibility -->
                        <tr>
                            <th>S/N</th>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-start">
                        @if (Model != null && Model.Any())
                        {
                            var counter = 1;
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@counter</td>
                                    <td class="text-center">@item.Name</td>
                                    <td class="text-center">@item.Price.ToString() Tk</td>
                                    <td>
                                        <div class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#edit-item-@item.Id">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                @Html.Partial("~/Views/Setup/Item/_Edit.cshtml", item)
                                                <!-- Category Edit Modal-->
                                                <button type="button" class="btn btn-danger btn-sm" onclick="handleAction('@Url.Action("Delete", "Item", new { id = item.Id })')">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </td>
                                </tr>
                                counter++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="text-center" colspan="5">
                                    <h5><i class="fa fa-hdd"></i> No Data!..</h5>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>